/* theme.css */
:root {
    --main-color: #fff;

    /* 字體大小全局管理 */
    --font-size-profile: 12px;
    
    --color-age: #ffcc00;  /* year, age, born and so on */
    /* profile badge */
    --color-profile-background: rgba(255, 222, 150, 0.85);
    --color-profile-text: #3b2a00;
    --color-profile-border: rgba(60, 40, 0, 0.80);
}

/* toast */
.toast-container {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* 確保在最上層 */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast-message {
    background: rgba(0, 0, 0, 0.85); /* 帶一點透明度更高級 */
    color: white;
    padding: 12px 24px;
    border-radius: 50px; /* 膠囊形狀 */
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    animation: fadeInUp 0.3s ease-out; /* 進入動畫 */
}

.profile-badge {
    background-color: var(--color-profile-background);
    color: var(--color-profile-text);
    font-size: var(--font-size-profile);
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

    padding: 2px 5px;
    border: 1px solid var(--color-profile-border);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    pointer-events: none;
}